@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hi there!</h1>
    <p>I'm nothing yet, but I'm trying to become a shop and overcome my existential crisis.</p>
 

        <div class="d-flex flex-wrap justify-content-center gap-2">
            <button id="btnLocalUserClaims" class="btn btn-primary mb-2">Get user claims (local)</button>
            <button id="btnRemoteProducts" class="btn btn-primary mb-2">Get products (remote)</button>
        </div>
 

    <div id="apiResult" class="mt-3">
        <!-- API call results will be displayed here -->
    </div>
</div>